.principal {
    background-color: rgb(157, 202, 229);
}
.principal .title{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    border-color: black;
}

.principal .parrafo{
    padding-top: 0;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.container {
    display:grid;
}

.container .h2 {
    display: inline-flex;
    justify-content: center; 
    align-items: center;
}

.container .imgc {
    width: 40px;
    height: 40px;
    margin-left: 5px;
}