.principal {
    background-color: rgb(157, 202, 229);
}
.principal .title{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    border-color: black;
}

.principal .parrafo{
    padding-top: 0;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.title1 {
    display:grid;
    justify-content: center;
    align-items: center;
}

.title2 {
    display:grid;
    justify-content: center;
    align-items: center;
}

.title3 {
    display:grid;
    justify-content: center;
    align-items: center;
}




