.arriba {
    display: grid;
    justify-content: center;
}

.arriba .h1 {
    font-family:fantasy;
    background-color: blue;
}

.arriba .p {
    display: grid;
    justify-content: center;
    font-family: monospace;
}
.container .h2 {
    display: grid;
    justify-content: center;
}
.formulario {
    display: grid;
    justify-content: center;

    background: rgba(197, 65, 65, 0.6);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.button {
    margin-top: 15px;
}